<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	convertDeprecationsToExceptions="true"
	failOnRisky="true"
	failOnWarning="true"
	verbose="true"
	bootstrap="../../tests/bootstrap.php">
	<testsuites>
		<testsuite name="ChatbotRagContent">
			<directory>./tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./includes</directory>
		</include>
	</coverage>
</phpunit>
